# MongoDB Connection URI
MONGODB_URI=mongodb://localhost:27017/torrent_scraper

# Target Website URL
WEBSITE_HOME_PAGE=https://www.1tamilmv.report/

# Local directory where .torrent files will be downloaded
TORRENT_DOWNLOAD_DIR=./downloads

# Default number of movies to scrape per cycle in auto mode
DEFAULT_CYCLE_COUNT=10
